.liBox {
  border-bottom: 1px solid var(--border-color);
  padding: 8px, 16px, 8px, 16px;
  gap: 12px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 440px;
  height: 48px;
  line-height: 16px;
  font-size: 14px;
  color: var(--primary-colour);
  transition: transform 0.3s ease;
}

.liBox:hover {
  background-color: var(--background-color);
  transform: scale(1.05);
  transition: transform 0.3s ease;
  border-bottom: 1px solid var(--border-color);
  border-radius: 10px;
}

.divBox {
  display: none;
}

.liBox:hover .divBox {
  display: block;
}

.completed {
  text-decoration: line-through;
}

.title {
  flex: 1;
  max-width: 332px;
  border: none;
}

.liBox:hover .title {
  background-color: var(--background-color);
}

.spanTitle {
  flex: 1;
  max-width: 332px;
  border: none;
}
