/* Button */
.button {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  border: 1px;
  cursor: pointer;

  background-size: 50%;

  background-color: #ffffff;
  border-color: #ffffff;
  box-shadow: 0px 1px 3px 0px #00000014;
  transition: transform 0.3s ease;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.icon {
  width: 16px;
  height: 16px;
}
