.body {
  background: rgba(251, 250, 250, 1);
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.todoSection {
  height: 48px;
  width: 440px;
}

.title {
  padding-bottom: 30px;
  font-weight: var(--font-weight);
  font-size: var(--title-font-size);
  line-height: var(--font-height);
  text-align: center;
}

.inputAndButtonContainer {
  display: flex;
}

.addButton {
  width: 60px;
  height: 40px;
  margin-left: 10px;
}
