.main {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 50vh;
}

.todoSection{
  width: 440px;
  Height: 48px;

}

.h1{
  font-weight: var(--font-weight); /* Set font weight to 700 */
  font-size: var(--font-size); /* Set font size to 40px */
  line-height: var(--font-height); /* Set line height to 48.41px */
  text-align: center;
}

