.main {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 50vh;
}

.todoSection{
  width: 440px;
  Height: 48px;

}

.h1{
  font-weight: var(--font-weight); 
  font-size: var(--font-size); 
  line-height: var(--font-height);
  text-align: center;
}

